@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::selection {
  background-color: rgba(34, 211, 238, 0.3);
  color: #fff;
}
